<div class= "jobs" style="display: none;">
<div class='content'>
    <p>Job Code Management</p>
</div>

<div>
    <button>Add New</button>
</div>
<p></p>


<table class="table table-hover table-bordered">
    <thead>
        <tr class="bg-info">
            <td>Job_code</td>
            <td>Description</td>
            <td>Hourly rate</td>
            <td>Max hours per day</td>
            <td></td>
            <td></td>
        </tr>
    </thead>

    <tbody>
        <tr class="table-light" *ngFor="let job of jobs;">
            <td>{{ job.job_code }}</td>
            <td>{{ job.description }}</td>
            <td>{{ job.hourly_rate | currency }}/Hr.</td>
            <td>{{ job.mhpd }} Hr.</td>
            <td>
                <button>Edit</button>
            </td>
            <td>
                <button>Delete</button>
            </td>
        </tr>
    </tbody>
</table>
</div>