<div class="modal fade" id="#AddTimecard" tabindex="-1" role="dialog" aria-labelledby="AddMachine" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Add New Timecard</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="addMachine">
                    <label>Machine Code</label>
                    <input type="text" formControlName="MachineCode">
                    <br>
                    <label>Description</label>
                    <input type="text" formControlName="Description">
                    <br>
                    <label>Hourly Rate</label>
                    <input type="number" formControlName="Hourly_Rate">
                    <br>
                    <label>Max Hours Per Day</label>
                    <input type="number" formControlName="Mhpd">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click) = "refresh()">Close</button>
                <button type="button" class="btn btn-primary" (click) ="addMach()">Add Machine</button>
            </div>
        </div>
    </div>
</div>


<div class = "timecards" style="display: none;">
<div class='content'>
    <p>Timecard Management</p>
</div>

<div>
    <button data-toggle="modal" data-target="#AddTimecard">Add New</button>
</div>
<p></p>

<table class="table table-hover table-bordered">
    <thead>
        <tr class="table-success">
            <td>Site_code</td>
            <td>Contractor</td>
            <td>Total hours</td>
            <td>Total Amounts</td>
            <td>Status</td>
        </tr>
    </thead>

    <tbody>
        <tr class="table-light" *ngFor="let timecard of timecards;">
            <td>{{ timecard.site_code }}</td>
            <td>{{ timecard.contractor }}</td>
            <td>{{ timecard.total_hours }} Hr.</td>
            <td>{{ timecard.total_amounts | currency }}</td>
            <ng-container *ngIf = "isUser; else noUser">
                    <ng-container *ngIf="timecard.is_approved; then approved; else pending"></ng-container>
                    <ng-template #approved>
                     <td>
                         Finalized
                     </td>
                    </ng-template>
                    <ng-template #pending>
                        <td>
                            Open
                        </td>
                    </ng-template>
            </ng-container>
        <ng-template #noUser>
            <ng-container *ngIf="timecard.is_approved; then approved; else pending"></ng-container>
            <ng-template #approved>
             <td>
                 Approved
             </td>
            </ng-template>
            <ng-template #pending>
                <td>
                    <button>Review</button>
                </td>
            </ng-template>
        </ng-template>
            
        </tr>
    </tbody>
</table>
</div>