<div class='content'>
    <p>Timecard Management</p>
</div>

<div>
    <button>Add New</button>
</div>
<p></p>

<table class="table table-hover table-bordered">
    <thead>
        <tr class="table-success">
            <td>Site_code</td>
            <td>Contractor</td>
            <td>Total hours</td>
            <td>Total Amounts</td>
            <td>Status</td>
        </tr>
    </thead>

    <tbody>
        <tr class="table-light" *ngFor="let timecard of timecards;">
            <td>{{ timecard.site_code }}</td>
            <td>{{ timecard.contractor }}</td>
            <td>{{ timecard.total_hours }} Hr.</td>
            <td>{{ timecard.total_amounts | currency }}</td>
            <td *ngIf="timecard.is_approved; else pending">
                Approved
            </td>
            <ng-template #pending>
                <td>
                    <button>Review</button>
                </td>
            </ng-template>
        </tr>
    </tbody>
</table>